body {
    margin: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

.layout {
    display: flex;
}

.sidebar {
    width: 70px;
    background: #dcdcdc; 
    height: 100vh;
    padding-top: 40px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.15);
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 35px 0;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul li img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar ul li img:hover {
    opacity: 1;
}

.main {
    padding: 40px 50px;
    flex: 1;
    margin-left: 90px;
    margin-top: 20px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333; 
}

/* login */
.login-page {
    background: #f2f2f2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    background: #fff;
    width: 900px;
    min-height: 520px;
    display: flex;
    border-radius: 18px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    overflow: hidden;
}

.login-left {
    width: 45%;
    background: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.login-left img {
    width: 95%;
    object-fit: contain;
}

.divider {
    width: 1px;
    background: #000;
}

.login-right {
    flex: 1;
    padding: 45px 60px;
}

.login-right h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #555;
    margin-bottom: 15px;
    background: #fafafa;
}

input:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.6);
}

.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    margin-bottom: 15px;
    color: #555;
    text-decoration: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #333;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background: #000;
}

.or-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.or-container hr {
    flex: 1;
    border: none;
    border-top: 1px solid #aaa;
}

.or-container span {
    margin: 0 10px;
    color: #555;
    font-size: 14px;
}

.social-row {
    display: flex;
    gap: 15px;
}

.btn-social {
    flex: 1;
    padding: 14px 0;
    background: #fff;
    border-radius: 12px;
    border: 1.8px solid #675555;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-social:hover {
    background: #e6e6e6;
}

.signup-text {
    margin-top: 15px;
    font-size: 13px;
    color: #666;
}

.signup-text a {
    color: #333;
    text-decoration: none;
}

.error-msg {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* dashboard */
.card-container {
    display: flex;
    gap: 25px;
}

.card {
    background: #fff;
    width: 250px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(150,150,150,0.2);
    text-align: center;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px rgba(120,120,120,0.4);
}

.card-icon {
    width: 40px;
    opacity: 0.85;
    margin-bottom: 12px;
}

.card-title {
    font-size: 15px;
    color: #333;
    margin-bottom: 6px;
}

.card-value {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.view-btn {
    margin-top: 25px;
    padding: 12px 25px;
    background: #444;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.view-btn:hover {
    background: #000;
}

/* table */
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

.table th {
    background: #333;
    color: #fff;
    padding: 14px;
    text-align: left;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    color: #444;
}

.table tr:hover td {
    background: #e6e6e6;
}

.stock-action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stock-number {
    font-weight: bold;
    color: #222;
}

.icon-btn {
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.75;
    transition: 0.2s;
}

.icon-btn:hover {
    opacity: 1;
    transform: scale(1.15);
}
